.wrapper {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}


/* header */

.header {
    background-color: #232F3F;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
    transition: all 0.3s linear;
}

.topinfo {
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}

.accountlistlink {
    display: block;
    padding: 5px 12px;
}

.accountlistlink>i {
    padding-left: 4px;
}

.accountlistlink:hover {
    color: #fff;
}

.languages {
    padding: 5px 0 0 10px;
}

.fa-icon {
    width: 20px;
    vertical-align: middle;
}

.header_info {
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}

.searchbox {
    flex-grow: 1;
    height: 40px;
    justify-content: center;
    margin-top: 6px;
}

.categorylist {
    border: none;
    padding: 8px 15px;
    border-radius: 0 20px 20px 0;
}

.searchinput {
    border: 0;
    padding: 8px 15px;
    width: 300px;
}

.btnsearch {
    padding: 10px 15px;
    background-color: #F4A137;
    color: #fff !important;
    border-radius: 20px 0 0 20px;
}

.btnsearch:hover {
    background-color: #555555;
}

.contactus {
    margin: 0 0.5em;
    font-size: 0.9em;
}

.contactusicon {
    font-size: 2.5em;
    padding: 0 20px;
}

.cart {
    margin: 0 0.5em;
    font-size: 0.9em;
}

.carticon {
    font-size: 2em;
    padding: 0 20px;
}

.carticon i {
    background-color: #F4A137;
    padding: 7px;
    margin-top: 3px;
}

.topnav {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 10px 12px;
    font-size: 0.9em;
    position: relative;
}

.topnavlink:hover {
    color: #fff;
}

.topnavitem:hover>.submenu {
    display: block;
}

.hotcategory::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/icons/hot-icon.png);
    width: 35px;
    height: 22px;
    top: -26%;
    right: 30%;
}

.submenu {
    display: none;
    width: 100%;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 0;
}

.submenucontainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuimage {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

.submenulist {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.submenuitem {
    width: 25%;
}


/* main */

.main {
    background-color: #fff;
}

.slider {
    height: 422px;
    padding: 10PX;
}

.r_ads {
    width: 25%;
    margin-left: 10px;
}

.l_ads {
    flex-grow: 1;
}

.r_ads img,
.l_ads img {
    width: 100%;
    height: 100%;
}

.topproduct {
    background-color: #F2F2F2;
}

.topproductitem {
    flex-grow: 1;
    padding: 10px;
}

.topproductinfo {
    align-self: center;
}

.topproductimage img {
    border-radius: 50%;
    padding-left: 10px;
}

.ts_detail {
    flex-grow: 2;
    border: 1px solid #ddd;
    margin: 10px;
    width: 40%;
}

.ts_list {
    flex-grow: 3;
    width: 60%;
}

.ts_productlist {
    flex-wrap: wrap;
}

.ts_productitem {
    width: 33%;
    flex-grow: 1;
}

.ts_productitemdetail {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}

.bigproduct {
    margin: 10px;
    padding: 10px;
}

.productimage {
    width: 100%;
}

.producttitle {
    color: #000;
    display: block;
}

.producttitle:hover {
    color: #F4A137;
}

.priceitem {
    color: #e74c3c;
}

.productaction {
    margin: 10px 0;
}

.productimageoverlay {
    position: relative;
    overflow: hidden;
}

.overlayimage {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.1s linear;
}

.ts_productitemdetail:hover .overlayimage {
    top: 0;
    opacity: 1;
}

.ts_productitemdetail:hover .btn_qv {
    top: 50%;
    opacity: 1;
}

.ts_productitemdetail .btn_qv {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}

.thumblist {
    margin-right: 5px;
}

.thumblistitem {
    border: 1px solid #bcbdc7;
    margin: 5px;
}

.banner {
    padding: 10px;
}

.banner img {
    width: 100%;
    display: block;
}

.newproductitems {
    width: 25%;
}

.collectionitem {
    width: 16.5%;
    flex-grow: 1;
}

.collectiondetailitem {
    background-color: #eee;
    border: 1px solid transparent;
}

.collectiondetailitem:hover {
    border-color: #F4A137;
    background-color: #fff;
}

.collectiondetailitem {
    margin: 5px;
}

.collectionlink {
    display: block;
    border-bottom: 3px solid #F4A137;
    position: relative;
}

.collectiontitle {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.hotsaleitemcontainer {
    flex-wrap: wrap;
}

.hotsaleitem {
    width: 33%;
    flex-grow: 1;
}

.hotsaledetails {
    margin: 10px;
    border: 1px solid #E5E5E5;
}

.hotsaleimage {
    width: 150px;
}

.hotsaleimage img {
    width: 100%;
}

.hotsaleinfo {
    flex-grow: 1;
}

.hotcategoriesitem {
    width: 25%;
}

.hotcategorylist {
    list-style: square;
    margin-right: 15px;
}

.hotcategorydetails {
    margin: 10px;
}

.hotcategoryimage {
    position: relative;
}

.hotcategorydetails .btn {
    position: absolute;
    bottom: 27px;
    right: 24px;
}

.hotcategorydetails h4 {
    margin: 0;
}


/* footer */

.footer {
    background-color: #232F3F;
}

footer h4 {
    color: #fff;
}

.footerinformation,
.newsletter {
    border-bottom: 1px solid #303e4f;
    padding: 10px;
}

.footerinfoitems {
    width: 25%;
    flex-grow: 1;
}

.footermenuelink {
    color: #bcbdc7;
    position: relative;
}

.footermenuelink:hover {
    color: #fff;
    padding-right: 12px;
}

.footermenuelink::before {
    position: absolute;
    content: ' ';
    width: 0px;
    height: 1px;
    background-color: red;
    transition: all 0.2s ease;
    top: 15px;
    right: 0px;
}

.footermenuelink:hover::before {
    width: 8px;
    background-color: #F4A137;
}

.newsletterinput {
    height: 40px;
    flex-grow: 1;
}

.newsletterinput input {
    border-radius: 0 20px 20px 0;
}

.newsletter {
    padding: 10px;
    align-items: center;
}

.newsletteremail {
    align-items: center;
}

.newsletteremail h5 {
    color: #fff;
    padding-left: 10px;
}

.signupbtnsearch {
    padding: 6px 15px;
}

.sociallinks {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.sociallinks h5 {
    color: #fff;
    padding-left: 10px;
}

.sociallink {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: block;
    padding: 8px;
    text-align: center;
    margin: 0 3px;
}

.copyr {
    padding: 10px;
    color: #fff;
}

.copyr_text,
.copyr_payment {
    align-items: center;
    flex-grow: 1;
}

.copyr_payment {
    text-align: left;
}