.wrapper {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}


/* header */

.header {
    background-color: #232F3F;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
    transition: all 0.3s linear;
}

.topinfo {
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}

.accountlistlink {
    display: block;
    padding: 5px 12px;
}

.accountlistlink>i {
    padding-left: 4px;
}

.accountlistlink:hover {
    color: #fff;
}

.languages {
    padding: 5px 0 0 10px;
}

.fa-icon {
    width: 20px;
    vertical-align: middle;
}

.header_info {
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}

.searchbox {
    flex-grow: 1;
    height: 40px;
    justify-content: center;
    margin-top: 6px;
}

.categorylist {
    border: none;
    padding: 8px 15px;
    border-radius: 0 20px 20px 0;
}

.searchinput {
    border: 0;
    padding: 8px 15px;
    width: 50%;
}

.btnsearch {
    padding: 10px 15px;
    background-color: #F4A137;
    color: #fff !important;
    border-radius: 20px 0 0 20px;
}

.btnsearch:hover {
    background-color: #555555;
}

.contactus {
    margin: 0 0.5em;
    font-size: 0.9em;
}

.contactusicon {
    font-size: 2.5em;
    padding: 0 20px;
}

.cart {
    margin: 0 0.5em;
    font-size: 0.9em;
}

.carticon {
    font-size: 2em;
    padding: 0 20px;
}

.carticon i {
    background-color: #F4A137;
    padding: 7px;
    margin-top: 3px;
}

.topnav {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 10px 12px;
    font-size: 0.9em;
    position: relative;
}

.topnavlink:hover {
    color: #fff;
}

.topnavitem:hover>.submenu {
    display: block;
}

.hotcategory::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/icons/hot-icon.png);
    width: 35px;
    height: 22px;
    top: -26%;
    right: 30%;
}

.submenu {
    display: none;
    width: 100%;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 0;
}

.submenucontainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuimage {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

.submenulist {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.submenuitem {
    width: 25%;
}


/* main */

.main {
    background-color: #fff;
}

.slider {
    height: 422px;
    padding: 10PX;
}

.r_ads {
    width: 25%;
    margin-left: 10px;
}

.l_ads {
    flex-grow: 1;
}

.r_ads img,
.l_ads img {
    width: 100%;
    height: 100%;
}

.topproduct {
    background-color: #F2F2F2;
}

.topproductitem {
    flex-grow: 1;
    padding: 10px;
}

.topproductinfo {
    align-self: center;
}

.topproductimage img {
    border-radius: 50%;
    padding-left: 10px;
}